/* RESPONSIVE DESIGN */

/* MOBELE */

@media (max-width: 576px) {
  body {
    /* padding: 15px; */
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
  }


  p {
    font-size: 12px;
  }

  h3 {
    font-size: 20px;
  }

  .heroBox h1 {
    font-size: 30px;
  }

  .navBody{
    padding: 20px;
  }

  .heroBox {
    padding-left: 4rem;
  }

  .facImgBody {
    text-align: center;
  }


  .teamImgBody {
    padding: 8rem;
  }

  .iconsBody {
    display: grid;
    text-align: center;
  }

  .tableBody{
    grid-template-columns: 1fr;
  }

  .navBox ul li {
    margin-bottom: 10px;
    /* padding-bottom: 3.5rem; */
  }


  /* HamburgerIcon */

  .navBox .hamburgerIcon{
    display: block;
    position: absolute;
    top: 3rem;
    right: 5rem;
    cursor: pointer;
  }

  .navBox ul {
    flex-direction: column;
    align-items: start;
    display: none;
  }

  .navBlock{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }


  #iconToggle:checked   ~ .link{
    display: flex;
  }


}

/* TABLET */

@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding: 15px;
  }

  .grid-1,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem;
  }

  p {
    font-size: 12px;
  }

  h3 {
    font-size: 20px;
  }

  .heroBox h1 {
    font-size: 30px;
  }

  .heroBox {
    padding-left: 4rem;
  }


  .facImgBody {
    text-align: center;
  }

  .teamImgBody {
    padding: 8rem;
  }

  .contactContainer{
    grid-template-columns: 1fr;
  }

  .link li a{
    padding-top: 50px;
  }

}

/* LAPTOP */

@media (min-width: 768px) and (max-width: 992px) {
  body {
    padding: 15px;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0rem 1rem;
  }

  p {
    font-size: 15px;
  }

  h3 {
    font-size: 20px;
  }

  .heroBox h1 {
    font-size: 40px;
  }

  .heroBox {
    padding-left: 4rem;
  }


  .facImgBody {
    text-align: center;
  }

  .teamImgBody {
    padding: 8rem;
  }

}



